<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ergebnis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Saunazeit</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="secondary">
        <h2>{{eingabeMinutenDE}} Minuten</h2>

      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Verbrannte Kalorien</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="primary">
        <h1>{{ergebnisKalorienDE}} kcal</h1>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Geschätzter Gewichtsverlust</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="tertiary">
        <h2>{{gewichtsverlustDE}} kg</h2>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Kommentar (Optional)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-textarea 
        [(ngModel)]="kommentar" 
        placeholder="Notizen zur Sauna-Session hinzufügen..."
        rows="4"
        maxlength="50">
      </ion-textarea>
    </ion-card-content>
  </ion-card>

  &nbsp;

  <ion-button expand="block" color="success" (click)="onSpeichernButton()">Speichern</ion-button>
  <ion-button expand="block" color="primary" href="/datenbank" routerDirection="forward">Zur Datenbank</ion-button>
  <ion-button expand="block" href="/home" routerDirection="backward">Zurück</ion-button>
</ion-content>

