<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ergebnis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ergebnis</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-content>
  <ion-text color="secondary">
    <h3>{{eingabeMinuten}}</h3>
  </ion-text>

  <ion-text color="tertiary">
    <h4>und</h4>
  </ion-text>

  <ion-text color="primary">
    <h1>{{eingabeMinuten}}</h1>
  </ion-text>

  &nbsp;

  <ion-button expand="block" href="/home" routerDirection="backward">Zurück</ion-button>
</ion-content>
