<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Sauna Kalorien Rechner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Zeit in Minuten</ion-label>
    <ion-input type="number" [(ngModel)]="eingabeMinuten" placeholder="z.B. 30"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="onBerechnenButton()">Berechnen</ion-button>
  <ion-button expand="block" color="danger" (click)="onLoeschButton()">Löschen</ion-button>
</ion-content>


