<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Sauna Kalorien Rechner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label>Minuten</ion-label>
    <ion-input clearInput placeHolder = " min" type = "number" [(ngModel)] = "eingabeMinuten"></ion-input>
  </ion-item>

  &nbsp;

  <ion-item>
    <ion-label>Saunakalorien</ion-label>
    <ion-input clearInput placeHolder = " kcal" type = "number" [(ngModel)] = "eingabeKalorien"></ion-input>
  </ion-item>

  &nbsp;

  <ion-button expand="block" (click)="onBerechnenButton()">Berechnen</ion-button>
  &nbsp; 
  <ion-button expand="block" (click)="onLoeschButton()">Löschen</ion-button>

</ion-content>


