<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Datenbank</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button routerLink="/ergebnis" routerDirection="forward">Gehe zu Ergebnis-Seite</ion-button>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">datenbank</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
